.App {
  text-align: center;
  height: 100vh;
}

.dark{
  background-color: black;
  color: white;
}
.darkbtn{
  background-color: rgb(51, 50, 50);
  color: white;
}

.light{
  background-color: white;
  color: black;
}
.lightbtn{
  background-color: brown;
  color: white;
}